<div class="container">
  <h1>¡Salsa Power pone el sabor! 🔥🎶</h1>
  <p>
    Queremos conocerte mejor mientras te unes a la fiesta de la salsa.
    Completa este formulario, selecciona tus favoritos y prepárate para
    sentir el ritmo. ¡La salsa está en todas partes, y tú también formas parte
    del sabor!
  </p>

  <form (ngSubmit)="onSubmit()" #salsaForm="ngForm">
    <div>
      <label for="name">Nombre Completo:</label>
      <input type="text" id="Nombre" name="name" [(ngModel)]="nombre" ngModel required>
    </div>

    <div>
      <label for="age">Edad:</label>
      <input type="number" id="Edad" name="age" [(ngModel)]="edad" ngModel required>
    </div>

    <div>
      <label for="email">Correo Electrónico:</label>
      <input type="email" id="Correo" name="email" [(ngModel)]="email" ngModel required>
    </div>

    <h3>Ve, ¿con cuál de estos íconos de la salsa te identificas?</h3>
    <select name="selectedSalsaIcon" [(ngModel)]="selectedSalsaIcon" required>
      <option *ngFor="let icon of icons" [value]="icon.name">
        {{ icon.name }} - {{ icon.phrase }}
      </option>
    </select>

    <h3>¿Cuál de estos grupos hace que se te muevan los pies?</h3>
    <select name="selectedGroup" [(ngModel)]="selectedGroup" required>
        <option *ngFor="let group of groups.red">{{ group }}</option>
        <option *ngFor="let group of groups.blue">{{ group }}</option>
        <option *ngFor="let group of groups.yellow">{{ group }}</option>
    </select>

    <h3>¿Con qué ritmo te identificas más?</h3>
    <select name="selectedRhythm" [(ngModel)]="selectedRhythm" required>
        <option *ngFor="let rhythm of rhythms.green">{{ rhythm }}</option>
        <option *ngFor="let rhythm of rhythms.pink">{{ rhythm }}</option>
        <option *ngFor="let rhythm of rhythms.purple">{{ rhythm }}</option>
    </select>

    <br>
    <button type="submit" [disabled]="!salsaForm.form.valid" (ngsubmit)="onSubmit()">Enviar</button>
  </form>

  <div *ngIf="selectedImage">
    <h3>SUENAS A</h3>
    <img *ngIf="selectedImage" [src]="selectedImage" alt="Imagen de salsa seleccionada">
  </div>
</div>
